:root {
    --color-accent: oklch(47.32% 0.13582 253.145);
    accent-color: var(--color-accent)
}
label.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: inherit;
    font-size: 80%/1.5 system-ui;
}
nav {
    color-scheme: dark;
    display: flex;
    margin-bottom: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
    }
    a.current {
        padding-bottom: 0.25em;
        border-bottom-width: 0.4em;
        border-bottom-style: solid;
    }
    a:hover {
        padding-bottom: 0.25em;
        border-bottom-width: 0.4em;
        border-bottom-style: solid;
        border-bottom-color: var(--color-accent);
    }
    ul {
        display: contents;
        li {
            display: contents;
        }
    }
}
body {
    /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	*/
    font: 100%/1.5 system-ui;
    h1 {
        font: 400%/1.5 system-ui;
    }
    line-height: 1.1;
    text-wrap: balance;
    max-width: 1000px;
    margin-inline: auto;
    padding: 40px;
    h1.resume {
        border-bottom-width: 0.1em;
        border-bottom-style: solid;
    }
    h2.resume {
        border-bottom-width: 0.1em;
        border-bottom-style: solid;
        text-align: center;
    }
    h3.resume {
        text-align: center;
    }
    div.projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        gap: 1em;
        article {
            display: grid;
            grid-template-rows: subgrid;
            grid-row: span 3;
        }
    }
    form {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;
        /*I did not seem to have the intended grid mistake in the lab, this
        displays properly for me*/
        button {
            grid-column: 1 / -1;
        }
    }
    div.container {
        display: flex;
    }
    #projects-pie-plot {
        max-width: 20em;
        margin-block: 2em;
        overflow: visible;
        &:has(path:hover) {
            path:not(:hover) {
                opacity: 0.5;
            }
            path {
                transition: 300ms;
            }
        }
    }
    .selected {
        --color: oklch(60% 45% 0) !important;
        &:is(path) {
            fill: var(--color);
        }
    }
    span.swatch {
        display: inline-flex;
        width: 1em;
        aspect-ratio: 1;
        background-color: var(--color);
        border-radius: 50%;
        flex: 1;
    }
    #stats, #profile-stats {
        dl {
            display: grid;
            grid-template-columns: max-content auto; 
            gap: 4px 16px;
        }

        dt {
            font-weight: bold;
            grid-column: 1;
        }

        dd {
            margin: 0;
            grid-column: 2;
        }
    }

    .gridlines {
        opacity: 0.1;
    }

    circle {
        transition: 200ms;
        transform-origin: center;
        transform-box: fill-box;
        @starting-style {
            r: 0;
        }
    }

    circle:hover {
        transform: scale(1.5);
    }

    dl.info {
        display: grid;
        margin: 0;
        transition-duration: 500ms;
        transition-property: opacity, visibility;
    }

    dl.info[hidden]:not(:hover, :focus-within) {
        opacity: 0;
        visibility: hidden;
    }

    .tooltip {
        position: fixed;
        top: 1em;
        left: 1em;
        background-color: greybox;
        box-shadow: 2px 2px 2.5px;
        border-radius: 4px;
    }
    
    circle.selected {
        fill: #ff6b6b;
    }

    #commit-stats {
        flex: 1;
        align-items: baseline;
    }

    #files {
        display: grid;
        grid-template-columns: 1fr 4fr;

        > div {
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: subgrid;
        }

        dt {
            grid-column: 1;
        }

        dd {
            grid-column: 2;
        }
    }

    .loc {
        display: flex;
        width: 0.5em;
        aspect-ratio: 1;
        background: var(--color);
        border-radius: 50%;
    }

    dd {
            grid-column: 2;
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            align-content: start;
            gap: 0.15em;
            padding-top: 0.6em;
            margin-left: 0;
    }

    #scrolly-1 {
        position: relative;
        display: flex;
        gap: 1rem;

        > * {
            flex: 1;
        }
    }

    #scatter-story {
        position: relative;
    }

    #scatter-plot {
        position: sticky;
        top: 0;
        left: 0;
        bottom: auto;
        height: 50vh;
    }

}