:root {
    --color-accent: oklch(47.32% 0.13582 253.145);
    accent-color: var(--color-accent)
}
label.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: inherit;
    font-size: 80%/1.5 system-ui;
}
nav {
    color-scheme: dark;
    display: flex;
    margin-bottom: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;
    }
    a.current {
        padding-bottom: 0.25em;
        border-bottom-width: 0.4em;
        border-bottom-style: solid;
    }
    a:hover {
        padding-bottom: 0.25em;
        border-bottom-width: 0.4em;
        border-bottom-style: solid;
        border-bottom-color: var(--color-accent);
    }
    ul {
        display: contents;
        li {
            display: contents;
        }
    }
}
body {
    /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	*/
    font: 100%/1.5 system-ui;
    h1 {
        font: 400%/1.5 system-ui;
    }
    line-height: 1.1;
    text-wrap: balance;
    max-width: 1000px;
    margin-inline: auto;
    padding: 40px;
    h1.resume {
        border-bottom-width: 0.1em;
        border-bottom-style: solid;
    }
    h2.resume {
        border-bottom-width: 0.1em;
        border-bottom-style: solid;
        text-align: center;
    }
    h3.resume {
        text-align: center;
    }
    div.projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        gap: 1em;
        article {
            display: grid;
            grid-template-rows: subgrid;
            grid-row: span 3;
        }
    }
    form {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;
        /*I did not seem to have the intended grid mistake in the lab, this
        displays properly for me*/
        button {
            grid-column: 1 / -1;
        }
    }
}